<h1>
  Stats Calculation
</h1>

<form action="/descriptive_stats/results">
  <div>
    <label>
      Numbers
    </label>
    <input type="text" name="numbers">
  </div>
  

  <button>Calculate descriptive statistics
  </button>

</form>
