<h1>
  Payment Calculation
</h1>

<form action="/payment/results">
  <div>
    <label>
      APR
    </label>
    <input type="text" name="apr">
  </div>
  <div>
    <label>
      Number of years
    </label>
    <input type="text" name="years">
  </div>
  <div>
    <label>
      Principal
    </label>
    <input type="text" name="principal">
  </div>

  <button>Calculate monthly payment
  </button>

</form>
