<h1>
  Payment Calculation
</h1>

<form action="/payment/results">
  <div>
    <label for="number1">
      APR
    </label>
    <input id="number1" type="text" name="apr">
  </div>
  <div>
    <label for="number2">
      Number of years
    </label>
    <input id="number2" type="text" name="years">
  </div>
  <div>
    <label for="number3">
      Principal
    </label>
    <input id="number3" type="text" name="principal">
  </div>

  <button>Calculate monthly payment
  </button>

</form>
