<h1>
  Random Results
</h1>
<label>
  Minimum
</label>
<h5>
  <%= @minimum_num %>
</h5>

<label>
  Maximum
</label>
<h5>
  <%= @maximum_num %>
</h5>

<label>
  Random Number
</label>
<h5>
  <%= @random_num %>
</h5>


<Button>
  <%= link_to "Pick another random number", "/random/new" %>
</button>
