<h1>
  Random Calculation
</h1>

<form action="/random/results">
  <div>
    <label>
      Minimum
    </label>
    <input type="text" name="minimum_num">
  </div>
  <div>
    <label>
      Maximum
    </label>
    <input type="text" name="maximum_num">
  </div>

  <button>Pick a random number
  </button>

</form>
