<h1>
  Square Root Calculation
</h1>

<form action="/square_root/results">
  <div>
    <label for="input">
      Enter a number
    </label>
    <input id="input" type="text" name="user_number">
  </div>

  <button>Calculate square root
  </button>

</form>
