<h1>
  Square of a number
</h1>

<form action="/square/results">
  <div>
    <label for="value">
      Enter a number
    </label>
    <input id="value" type="text" name="user_number">
  </div>

  <button>Calculate square
  </button>

</form>
