<h1>
  Word Count Form
</h1>

<form action="/word_count/results">
  <div>
    <label>
      Text
    </label>
    <input type="text" name="text">
  </div>
  <div>
    <label>
      Special Word
    </label>
    <input type="text" name="special word">
  </div>

  <button>Process text
  </button>

</form>
